## ການແບ່ງຂໍ້ມູນເປັນ train ແລະ testing data

- ຂໍ້ມູນທີ່ໃຊ້ສຳລັບການສອນ (Train) ໝາຍເຖິງ ການນຳຂໍ້ມູນໄປສ້າງ model ເພື່ອອະທິບາຍຮູບແບບຂໍ້ມູນ
- ຂໍ້ມູນທີ່ໃຊ້ສຳລັບການທົດສອບ (Test) ໝາຍເຖິງ ການນຳຂໍ້ມູນເພື່ອປ້ອນໃຫ້ກັບ model ທາງຄະນິດສາດເພື່ອຄຳນວນຫາປະສິດທິພາບຂອງການຄາດເດົາ

# 1. ປະກາດຂໍໃຊ້ Library pandas ແລະ numpy
- pandas ໃຊ້ໃນການຈັດການຂໍ້ມູນຂະໜາດນ້ອຍຈົນໄປຮອດຂໍ້ມູນຂະໜາດໃຫຍ່
- numpy ແມ່ນ Libary ທີ່ໃຊ້ໃນການຄຳນວນທາງຄະນິດສາດຂອງພາສາ Python ໂດຍ numpy ສາມາດຈັດການ array ຫຼາຍມິຕິໄດ້

In [14]:
import pandas as pd
import numpy as np

- ສະແດງ  version ຂອງ Library pandas ແລະ numpy

In [15]:
print(f'pandas  version: {pd.__version__}')
print(f'numpy   version: {np.__version__}')

pandas  version: 1.4.2
numpy   version: 1.22.3

- ສ້າງຕົວແປ url 
- load ຂໍ້ມູນຈາກເວັບໄຊເຂົ້າມາ Data frame ໂດຍນຳໃຊ້ column ທີ່ 1,2,3 ແລະ 4
- ສະແດງຂໍ້ມູນຈາກຕົວແປ df

In [16]:
# url='http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv'
url='https://github.com/prasertcbs/basic-dataset/raw/master/ISLR/Advertising.csv'
# df=pd.read_csv(url, index_col=0)
df=pd.read_csv(url, usecols=[1, 2, 3, 4])
# df=pd.read_csv(url, usecols=list(range(1, 5)))
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

# 2. sklearn: train_test_split

- ຂໍໃຊ້ຄຳສັ່ງ train_test_split ຈາກ library scikit-learn

In [17]:
from sklearn.model_selection import train_test_split

- ສະແດງຈຳນວນຂໍ້ມູນທັງໝົດ

In [18]:
len(df)

200

# 3. method 1: split into (train, test)
ແບ່ງຂໍ້ມູນອອກເປັນ 2 ສ່ວນຄື: train ກັບ test

- ແບ່ງຂໍ້ມູນສຳລັບ train ອອກເປັນ 70% ແລະ Test 30%, 
- ກຳນົດ random_state=7 ຄືສຸ່ມເທື່ອລະ 7 ຕົວ

In [19]:
train, test = train_test_split(df, train_size=0.7, random_state=7)
# train, test = train_test_split(df, test_size=0.3)

- ສະແດງຈຳນວນຂໍ້ມູນພາຍໃນຕົວແປ train 70% ແລະ test 30% ຈາກຈຳນວນຂໍ້ມູນທັງໝົດ 200

In [20]:
print(len(train))
print(len(test))

140
60

- ສະແດງຂໍ້ມູນ train ແລະ test ດ້ວຍຄຳສັ່ງ head()

In [21]:
train.head()

        TV  Radio  Newspaper  Sales
88    88.3   25.5       73.4   12.9
58   210.8   49.6       37.7   23.8
113  209.6   20.6       10.7   15.9
149   44.7   25.8       20.6   10.1
36   266.9   43.8        5.0   25.4

In [22]:
test.head()

        TV  Radio  Newspaper  Sales
86    76.3   27.5       16.0   12.0
120  141.3   26.8       46.2   15.5
22    13.2   15.9       49.6    5.6
11   214.7   24.0        4.0   17.4
195   38.2    3.7       13.8    7.6

# 4. method 2: split into (X_train, X_test, y_train, y_test)
ວິທີການແບ່ງດ້ວຍການສົ່ງຂໍ້ມູນກັບມາ 4 ຕົວຄື: X_train, X_test, y_train ແລະ y_test

- ສະແດງ header ຂອງຂໍ້ມູນ

In [23]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

- ສ້າງຕົວແປອິດສະລະ x ແລະ ສ້າງຕົວແປເອກະລາດ y

In [24]:
X=df[['TV', 'Radio', 'Newspaper']]
y=df['Sales']

- ສ້າງຕົວແປ X_train, X_test , y_train ແລະ y_test ດ້ວຍ function train_test_split() ກຳນົດ test_size 30% (0.3) ແລະ ກຳນົດ random_state = 7

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.3, 
                                                    random_state=7)

- ສະແດງຂໍ້ມູນ X_train, X_test , y_train ແລະ y_test ດ້ວຍຄຳສັ່ງ head()

In [26]:
X_train.head()

        TV  Radio  Newspaper
88    88.3   25.5       73.4
58   210.8   49.6       37.7
113  209.6   20.6       10.7
149   44.7   25.8       20.6
36   266.9   43.8        5.0

In [27]:
X_test.head()

        TV  Radio  Newspaper
86    76.3   27.5       16.0
120  141.3   26.8       46.2
22    13.2   15.9       49.6
11   214.7   24.0        4.0
195   38.2    3.7       13.8

In [28]:
y_train.head()

88     12.9
58     23.8
113    15.9
149    10.1
36     25.4
Name: Sales, dtype: float64

In [29]:
y_test.head()

86     12.0
120    15.5
22      5.6
11     17.4
195     7.6
Name: Sales, dtype: float64

# 5. Scikit-Learn: LinearRegression

- import library sklearn ແລະ ຂໍໃຊ້ class LinearRegression  ຈາກ sklearn

In [30]:
import sklearn
from sklearn.linear_model import LinearRegression

- ສະແດງ version sklearn

In [31]:
print(f'sklearn version: {sklearn.__version__}')

sklearn version: 1.0.2

- ສ້າງ object model ຈາກ class LinearRegression()

In [32]:
model = LinearRegression()
model

LinearRegression()

- ສ້າງ model ຈາກຂໍ້ມູນ X_train ແລະ y_train ດ້ວຍຄຳສັ່ງ fit()

In [33]:
model.fit(X_train, y_train)

LinearRegression()

- ກວດສອບຄວາມແນ່ນອນຂອງ Model ດ້ວຍ Function “score” ແລະ ຂຽນຄ່າ R-square ທີ່ໄດ້ຈາກ model

In [34]:
model.score(X_train, y_train) # R-squared

0.8970470429900155

- ສະແດງຄ່າຈຸດຕັດແກນ y

In [35]:
model.intercept_

2.597191399021309

-  ສະແດງຄ່າສຳປະສິດ Coefficient

In [36]:
model.coef_

array([ 4.71259657e-02,  1.90987993e-01, -1.93812266e-05])

- ສະແດງຂໍ້ມູນ X_train

In [37]:
X_train.head()

        TV  Radio  Newspaper
88    88.3   25.5       73.4
58   210.8   49.6       37.7
113  209.6   20.6       10.7
149   44.7   25.8       20.6
36   266.9   43.8        5.0

- ຄຳນວນຄ່າຍອດຂາຍຈາກ model ທີ່ສ້າງຂື້ນດ້ວຍການປ້ອນຂໍ້ມູນໃຫມ່ເຂົ້າໄປເພື່ອຄາດເດົາວ່າຍອດຂາຍຈະເທົ່າກັບເທົ່າໃດ ໂດຍລະບຸ TV (250), Radio (40) ແລະ Newspaper (70)

In [38]:
model.predict([[200, 40, 70]])

c:\Users\ASUS BY COMCOM\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([19.66054756])

- ເປັນການຄຳນວນຍອດຂາຍ ໂດຍການສົ່ງຂໍ້ມູນໄປພ້ອມກັນ 3 ແຖວ

In [39]:
model.predict([[200, 40, 70], 
               [100, 80, 50],
               [ 40, 20, 10]])

c:\Users\ASUS BY COMCOM\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([19.66054756, 22.58785835,  8.30179607])

-  ສ້າງຕົວແປ y_hat ສຳລັບເກັບຜົນຄາດເດົາທີ່ໄດ້ຈາກ model ແລະ ສະແດງຜົນຕົວແປ

In [40]:
y_hat=model.predict(X_train)
y_hat

array([11.62718541, 22.00361874, 16.40893908,  9.63081303, 23.54028882,
        4.19019633,  6.33372661,  9.16205331, 18.6252243 ,  9.30278314,
       10.02220298, 12.81990978, 16.3270569 , 15.55142217,  8.18788222,
       17.73045095, 24.32738343,  7.98376479, 12.34504657, 23.42048119,
       10.19514611, 17.25432468, 15.17745615, 16.45100472, 16.83421976,
       16.94913148, 14.92719588, 12.08456358, 17.31673623, 20.75868218,
       12.31079013, 14.68033357, 12.00487231,  4.23083643, 11.88897069,
       18.47946596, 17.82345369, 10.62147609, 21.24463139,  3.40353011,
       20.37338186,  9.53396325,  8.95973195, 10.92777341,  8.97930171,
       17.62344551, 20.54153871, 12.60435152, 13.71875285, 17.33050151,
       15.22001133, 20.47732861,  9.86186951, 14.93210984, 13.95134117,
       12.31718956, 16.32085396,  7.16859379, 18.16059791, 20.91470709,
       20.02490033, 18.17883475, 18.49821442, 17.0839661 , 19.35270232,
        4.19833505, 12.50911724, 17.95656145,  6.91422545,  9.90447448,
       10.42119071, 12.78028296, 21.82835372, 23.41577932,  6.56681082,
       14.75847895, 13.47230131, 10.19313548, 13.92501901,  9.78331628,
       21.80450967, 15.30617948, 18.93360192,  9.57166714, 14.29594599,
       13.72711144, 15.006342  , 23.98232793, 13.89828935, 15.32931852,
       10.47352554, 23.06533337, 17.07959565,  6.81947906, 12.30816114,
       10.50213634, 18.4792284 , 21.39075666, 15.56684723,  9.95657766,
       12.1992509 , 14.31888317,  5.78894815, 15.56692342, 21.01396414,
       13.17910445,  9.72701965, 14.34014313,  7.37438608, 13.81839214,
       16.35902724,  8.30717117, 21.19794648,  8.68760535, 14.10308899,
       11.57088514, 21.40418995, 11.73806283, 20.65888105,  7.3593895 ,
       13.84964647,  6.37651554, 20.07072522, 19.03685226, 13.33560266,
       11.2519676 , 21.72370744, 14.80324095, 16.8998523 , 10.16239699,
       16.58323865, 19.32853365, 20.87119297, 19.2534684 , 14.7368069 ,
        9.90278852, 11.93096662, 15.65468781,  7.97214154, 24.98487401])

- ສ້າງຕົວແປໃຫມ່ຊື່ train ເພື່ອລວມ X_train ແລະ y_train ໄວ້ນຳກັນ

In [41]:
train=pd.concat([X_train, y_train], axis='columns')

- ສະແດງຂໍ້ມູນຈາກຕົວແປ

In [42]:
train.head()

        TV  Radio  Newspaper  Sales
88    88.3   25.5       73.4   12.9
58   210.8   49.6       37.7   23.8
113  209.6   20.6       10.7   15.9
149   44.7   25.8       20.6   10.1
36   266.9   43.8        5.0   25.4

- ສ້າງຕົວແປ dc ເພື່ອເພີ່ມ column predicted ມາສະແດງນຳ

In [43]:
dc=pd.concat([train.reset_index(), pd.Series(y_hat, name='predicted')], axis='columns')
dc.head()

   index     TV  Radio  Newspaper  Sales  predicted
0     88   88.3   25.5       73.4   12.9  11.627185
1     58  210.8   49.6       37.7   23.8  22.003619
2    113  209.6   20.6       10.7   15.9  16.408939
3    149   44.7   25.8       20.6   10.1   9.630813
4     36  266.9   43.8        5.0   25.4  23.540289

-  ສ້າງຕົວແປ y_hat_test ແລະ ເອົາຂໍ້ມູນສ່ວນຂອງ X_test ມາໃຊ້ໃນການ predict

In [44]:
y_hat_test=model.predict(X_test)
y_hat_test

array([11.44476229, 14.37367315,  6.25500193, 17.29877053,  5.1037914 ,
       12.17276377,  7.62662219, 10.33214076,  8.77992131, 13.09010986,
        3.29044059, 12.57762584,  9.56979963,  7.62505392, 18.72987897,
        5.0057581 ,  7.93923309, 16.93193167, 18.25136197,  8.71447974,
       16.07575914, 19.69512239,  8.61453225, 17.3519232 ,  9.57182285,
       18.01945212, 23.4962362 , 12.71455161, 19.77063344, 12.10705488,
       12.68239566,  5.87563284, 14.18270814, 20.87041368, 19.5800746 ,
       15.21483369, 10.39322617, 24.36171125, 11.29656239, 11.88775796,
        7.69691954, 22.33739127,  5.49999179, 13.61147654, 17.10119141,
       16.39861924, 15.14556732,  8.21775584, 11.24015588, 15.47711028,
        7.46373581,  8.64334225,  6.35011873,  8.56203042, 15.64802928,
       19.49746243,  9.7732074 , 18.48500068, 11.70700465, 15.32110391])

- ສ້າງຕົວແປໃຫມ່ຊື່ test ແລະ ສະແດງຂໍ້ມູນຈາກຕົວແປທີ່ join ຂໍ້ມູນ X_test, y_test ນຳກັນ

In [45]:
test=pd.concat([X_test, y_test], axis='columns')
test.head()

        TV  Radio  Newspaper  Sales
86    76.3   27.5       16.0   12.0
120  141.3   26.8       46.2   15.5
22    13.2   15.9       49.6    5.6
11   214.7   24.0        4.0   17.4
195   38.2    3.7       13.8    7.6

- ສ້າງຕົວແປ dt ເພື່ອເພີ່ມ column predicted ມາສະແດງນຳ

In [46]:
dt=pd.concat([test.reset_index(), pd.Series(y_hat_test, name='predicted')], axis='columns')
dt.head()

   index     TV  Radio  Newspaper  Sales  predicted
0     86   76.3   27.5       16.0   12.0  11.444762
1    120  141.3   26.8       46.2   15.5  14.373673
2     22   13.2   15.9       49.6    5.6   6.255002
3     11  214.7   24.0        4.0   17.4  17.298771
4    195   38.2    3.7       13.8    7.6   5.103791

- ສະແດງຄວາມສຳພັນລະຫວ່າງ columns ໃນຕົວແປ dt

In [47]:
dt.corr()

              index        TV     Radio  Newspaper     Sales  predicted
index      1.000000  0.216008 -0.091564   0.001199  0.095705   0.128056
TV         0.216008  1.000000  0.128668   0.079286  0.812386   0.868771
Radio     -0.091564  0.128668  1.000000   0.364127  0.587212   0.602880
Newspaper  0.001199  0.079286  0.364127   1.000000  0.227696   0.245546
Sales      0.095705  0.812386  0.587212   0.227696  1.000000   0.946814
predicted  0.128056  0.868771  0.602880   0.245546  0.946814   1.000000

# 6. Statsmodels: Simple Linear regression

- ແບ່ງຂໍ້ມູນສຳລັບ train ອອກເປັນ 70% ແລະ Test 30%, 
- ກຳນົດ random_state=7 ຄືສຸ່ມເທື່ອລະ 7 ຕົວ

In [48]:
train, test = train_test_split(df, train_size=0.7, random_state=7)
# train, test = train_test_split(df, test_size=0.3)

- ສະແດງຂໍ້ມູນ train ແລະ test

In [49]:
train.head()

        TV  Radio  Newspaper  Sales
88    88.3   25.5       73.4   12.9
58   210.8   49.6       37.7   23.8
113  209.6   20.6       10.7   15.9
149   44.7   25.8       20.6   10.1
36   266.9   43.8        5.0   25.4

In [50]:
test.head()

        TV  Radio  Newspaper  Sales
86    76.3   27.5       16.0   12.0
120  141.3   26.8       46.2   15.5
22    13.2   15.9       49.6    5.6
11   214.7   24.0        4.0   17.4
195   38.2    3.7       13.8    7.6

- import library statsmodels.api ແລະ statsmodels.formula.api

In [51]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

- ສ້າງ model  ດ້ວຍຄຳສັ່ງ ols (ordinal least square) ໂດຍໃຊ້ໂຕແປຄາດເດົາ Sales ຈາກຕັວແປອິດສະຫຼະ Tv + Radio + Newspape

In [52]:
# formula: response ~ predictor1 + predictor2
model_a = smf.ols(formula='Sales ~ TV + Radio + Newspaper', data=train).fit()
# model_a = smf.ols(formula='Sales ~ TV + Radio', data=df).fit()

- ສະແດງລາຍລະອຽດຂໍ້ມູນຊຸດນີ້

In [53]:
print(model_a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.895
Method:                 Least Squares   F-statistic:                     395.0
Date:                Fri, 23 Dec 2022   Prob (F-statistic):           6.42e-67
Time:                        08:59:52   Log-Likelihood:                -271.78
No. Observations:                 140   AIC:                             551.6
Df Residuals:                     136   BIC:                             563.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.5972      0.398      6.533      0.000       1.811       3.383
TV             0.0471      0.002     27.669      0.000       0.044       0.050
Radio          0.1910      0.010     18.885      0.000       0.171       0.211
Newspaper  -1.938e-05      0.007     -0.003      0.998      -0.014       0.014
==============================================================================
Omnibus:                       49.785   Durbin-Watson:                   2.062
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              135.914
Skew:                          -1.399   Prob(JB):                     3.07e-30
Kurtosis:                       6.933   Cond. No.                         487.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

- ດຶງຂໍ້ມູນຂອງ Coef ມາສະແດງດ້ວຍ params

In [54]:
model_a.params # coef

Intercept    2.597191
TV           0.047126
Radio        0.190988
Newspaper   -0.000019
dtype: float64

- ສະແດງຄ່າ pvalues ແບບລະອຽດ

In [55]:
model_a.pvalues

Intercept    1.189005e-09
TV           1.024402e-57
Radio        7.808066e-40
Newspaper    9.978470e-01
dtype: float64

-  ສະແດງຄ່າສຳປະສິດ Coefficient

In [56]:
model.coef_

array([ 4.71259657e-02,  1.90987993e-01, -1.93812266e-05])


( ເປັນການ Split ຂໍ້ມູນອອກເປັນ Train ກັບ Test ດ້ວຍການນຳໃຊ້ SK-lrean )